{% block main %}
<!DOCTYPE html>
<html lang="en-US">
   <head>
      <link rel="stylesheet" href="static/DEP/css/styles.css" type="text/css">
      <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" language="javascript" src="/static/DEP/js/script.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
      
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <title>Your Company MDM Management</title>
      
        <!-- Custom fonts for this template-->
        <link href="static/DEP/Bootstrap4/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="static/DEP/Bootstrap4/css/sb-admin-2.min.css" rel="stylesheet">

        <link rel="icon" type="image/png" href="static/DEP/Login/images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="static/DEP/Login/vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="static/DEP/Login/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="static/DEP/Login/vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="static/DEP/Login/css/util.css">
        <link rel="stylesheet" type="text/css" href="static/DEP/Login/css/main.css">
        <link rel="stylesheet" type="text/css" href="static/DEP/css/buttonLoader.css">

        

        
       


        

        <script src="static/DEP/Login/vendor/bootstrap/js/popper.js"></script>
        <script src="static/DEP/Login/vendor/select2/select2.min.js"></script>
        <script src="static/DEP/Login/vendor/tilt/tilt.jquery.min.js"></script>
        <script >
                $('.js-tilt').tilt({
                        scale: 1.1
                })
        </script>
        <script src="static/DEP/Login/js/main.js"></script>

<!--script>
  $(document).ready(function () {
    $("input[type='button']").click(function () {
      var radioValue = $("input[name='RadioRegion']:checked").val();
      if (radioValue) {
        alert("Selected region is - " + radioValue);
      }
    });
  });
</script-->





   </head>
   <body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-0">
          <img class="img-fluid" src="static/DEP/Bootstrap4/img/Artboard-3-400x200.png"></img>
        </div>
        
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-lg fa-tachometer-alt"></i>
          <span>DashBoard</span></a>
      </li>

       <!-- Nav Item - How To-->
       <li class="nav-item">
        <a class="nav-link" href="/howto">
          <i class="fas fa-lg fa-toggle-on"></i>
          <span>Getting started</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        MDM Management
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="border-left-warning nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-laptop"></i>
          <span>Devices</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!--<h6 class="collapse-header">Custom Components:</h6>-->
            <a class="collapse-item rounded-pill" href="/add_device"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>&nbsp;ADD DEVICES</a>
            
            
            {% if user.is_superuser %}
            <a class="collapse-item rounded-pill" href="/remove_device"><span style="font-size: 1em; color: Tomato;"><i class="fas fa-trash" aria-hidden="true"></i></span>&nbsp;REMOVE DEVICES</a>
            {% endif %}
            <a class="collapse-item rounded-pill" href="/show_devices"><span style="font-size: 1em; color: rgb(63, 90, 211);"><i class="fa fa-list-alt" aria-hidden="true"></i></span>&nbsp;LIST DEVICES</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Profiles -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProfiles" aria-expanded="true"
          aria-controls="collapseProfiles">
          <i class="fas fa-fw fa-certificate"></i>
          <span>Fleet</span>
        </a>
        <div id="collapseProfiles" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!--<h6 class="collapse-header">Custom Utilities:</h6>-->
            <a class="collapse-item rounded-pill" href="/regional_fleet"><span
                style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fa fa-cloud-upload-alt"
                  aria-hidden="true"></i></span>&nbsp;Push To Fleet</a>
      
            <a class="collapse-item rounded-pill" href="/managed_profiles"><span
                style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fas fa-certificate"
                  aria-hidden="true"></i></span>&nbsp;Managed Profiles</a>
      
            <!-- <a class="collapse-item rounded-pill" href="/others"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i
                  class="fas fa-link" aria-hidden="true"></i></span>&nbsp;Others</a> -->
      
      
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fab fa-fw fa-whmcs"></i>
          <span>Tools</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!--<h6 class="collapse-header">Custom Utilities:</h6>-->
            <a class="collapse-item rounded-pill" href="/api_command"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fa fa-sync-alt" aria-hidden="true"></i></span>&nbsp;Sync with DEP</a>
            <a class="collapse-item rounded-pill" href="/service_status"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fab fa-creative-commons-sampling" aria-hidden="true"></i></span>&nbsp;Service Status</a>
            <a class="collapse-item rounded-pill" href="/system_journal"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fas fa-stream" aria-hidden="true"></i></span>&nbsp;Real-time LOG</a>
            <a class="collapse-item rounded-pill" href="/enroll"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fas fa-link" aria-hidden="true"></i></span>&nbsp;Enroll BYOD Device</a>
            <a class="collapse-item rounded-pill" href="/webhook"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fas fa-retweet" aria-hidden="true"></i></span>&nbsp;WebHook</a>
            <a class="collapse-item rounded-pill" href="/vpp"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="fas fa-sliders-h" aria-hidden="true"></i></span>&nbsp;MDM Commands</a>
          </div>
        </div>
      </li>

      

<!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Nav Item - Tables -->
      <li class="nav-item text-warning">
        <a class="nav-link badge-sm badge-success text-white text-monospace" href="" data-toggle="modal" data-target="#exampleModalApply">
          <i class="fas fa-check-double text-white"></i>
          <span>APPLY Changes</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading 
      <div class="sidebar-heading">
        AddONs-Munki-only Placeholder
      </div>


      <!-- Nav Item - Tables 
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-puzzle-piece"></i>
          <span>Manifest</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-puzzle-piece"></i>
          <span>PkgInfo</span></a>
      </li>-->

    <!-- Divider 
    <hr class="sidebar-divider">-->

    <!-- Heading -->
    <div class="sidebar-heading">
      Munki Management
    </div>
    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="https://yourdomain.com/">
        <i class="fas fa-clipboard"></i>
        <span>MunkiReport</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/munkimanifest">
        <i class="fas fa-file-code"></i>
        <span>MunkiManifest</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/munkipkginfo">
        <i class="fas fa-code-branch"></i>
        <span>MunkiPkgInfo</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
      System Updates Services
    </div>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/asus">
        <i class="fab fa-apple"></i>
        <span>Console</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
      Settings
    </div>
    {% if user.is_superuser %}
    <li class="nav-item text-warning">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-cog text-warning"></i>
        <span>MDM Settings</span>
      </a>
      <div id="collapse3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!--<h6 class="collapse-header">Custom Utilities:</h6>-->
          <a class="collapse-item rounded-pill" href="/renewmdm"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="" aria-hidden="true"></i></span>&nbsp;MDM Intergations</a>
          <a class="collapse-item rounded-pill" href="/setupdep"><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="" aria-hidden="true"></i></span>&nbsp;DEP Setup</a>
          <a class="collapse-item rounded-pill" href=""><span style="font-size: 1em; color: rgb(14, 180, 14);"><i class="" aria-hidden="true"></i></span>&nbsp;APPLE VPP Token</a>
        </div>
      </div>
    </li>
    {% endif %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="bg-warning rounded-circle border-0" id="sidebarToggle"></button>
      </div>



    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          
          <span class="badge text-white badge-success" style="font-size: 1em; color: rgba(46, 175, 21, 0.856);"><i class="fas fa-laptop fa-fw"
              aria-hidden="true"></i>&nbsp;ADD SERIAL NUMBER</span><h6 class="text-dark font-weight-bold"></h6>
          

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            

            

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" ><p>Logged as {{ user.get_username }}</p></span>
                <span style="color: #dd0038;">
                <i class="fas fa-user fa-sm fa-fw fa-2x mr-8"></i></span>
              </a>
            <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/admin/password_change/">
                  <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                  Password
                </a> 
                <a class="dropdown-item" href="/logout/">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout<i id="login" class="loginlogout"></i></a> 

              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Alert--
            <div class="col-sm-12">
                <div class="alert  alert-info alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-info"><i class="fas fa-info "></i></span> Please don't forget APPLY Changes before you leave this web.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        <!-- Border Bottom Utilities -->
            <!-- Begin Page Content -->
        <div class="container-fluid">


             


          <!-- Page Heading -->
          
          <div class="card col-6 mb-4 py-3 shadow-sm container-fluid border-bottom-success">
            <div class="card-body">
            
            <div class="input-group mb-3">
          <input type="text" class="form-control border-success shadow-sm" placeholder="!!!Before you type Serial Number here , REGION must be choosen!!!" aria-label="Serial Number here" aria-describedby="button-addon2" id="serial_number">
          <div class="input-group-append">
          <button class="btn-sm btn-success shadow-sm" type="button" id="add_button" data-toggle="modal" data-target="#exampleModal2" disabled="disabled">ADD</button>
          </div>
          
          </div>
          <div>
          </div>
          <!-- <div class="form-check">
            <input class="form-check-input" type="radio" value="" id="defaultCheck1">
            <label class="form-check-label shadow-sm badge badge-dark " for="defaultCheck1">
              EU
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label shadow-sm badge badge-success" for="defaultCheck2">
              NABU
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="" id="defaultCheck3">
            <label class="form-check-label shadow-sm badge badge-primary" for="defaultCheck3">
              TW
            </label>
          </div> -->

          <span style="font-size: 1em; color: rgba(44, 11, 6, 0.856);"><i class="fas fa-globe-europe fa-fw"
              aria-hidden="true"></i>&nbsp;Choose Region</span>
          
          <div class="row">
          
          <div class="form-check ml-4 mr-4">      
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="EU">
            <label class="form-check-label shadow-sm badge badge-dark" for="exampleRadios1">
              &nbsp;EU&nbsp;
            </label>
          
          </div>

          <div class="form-check mr-4">
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="TW">
            <label class="form-check-label shadow-sm badge badge-primary" for="exampleRadios2">
              &nbsp;APAC&nbsp;
            </label>
          </div>
          <div class="form-check mr-4">
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="JP">
            <label class="form-check-label shadow-sm badge badge-danger" for="exampleRadios3">
              &nbsp;JP&nbsp;
            </label>
          </div>
          <div class="form-check mr-4">
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="PH">
            <label class="form-check-label shadow-sm badge badge-info" for="exampleRadios4">
              &nbsp;PH&nbsp;
            </label>
          </div>
          <div class="form-check mr-4">
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="US">
            <label class="form-check-label shadow-sm badge badge-warning" for="exampleRadios5">
              &nbsp;NABU&nbsp;
            </label>
          </div>
          <div class="form-check mr-4">
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="AU">
            <label class="form-check-label shadow-sm badge text-white badge-success" for="exampleRadios6">
              &nbsp;ANZ&nbsp;
            </label>
          </div>
          <div class="form-check mr-4">
            <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="SG">
            <label class="form-check-label shadow-sm badge text-white badge-secondary" for="exampleRadios7">
              &nbsp;MEA&nbsp;
            </label>
          </div>
          </div>
          
          </div>
          <!-- <div class="row ml-3">
          <span style="font-size: 1em; color: rgba(44, 11, 6, 0.856);"><i class="fas fa-tablet-alt fa-fw"
              aria-hidden="true"></i>&nbsp; Choose if iOS device</span>
          </div>
          <div class="row ml-2">
          
            <div class="form-check ml-4 mr-4">
              <input class="form-check-input" id="testuji" name="tlacitko" type="radio" value="iOS">
              <label class="form-check-label shadow-sm badge badge-success" for="exampleRadios1">
                &nbsp;iOS&nbsp;
              </label>
            </div> 
          
          
          </div>-->
          
          <img class="img-fluid px-3 px-sm-4 mt-3 ml-auto" style="width: 15em;" src="static/DEP/Bootstrap4/img/adddevices.svg" alt=""></img>
          </div>


          
          

          

          



              

          <!-- Content Row -->


          


          <div class="row">




        

      </div>

      <!-- End of Main Content -->



<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white text-monospace" id="exampleModalLabel">Add Device</h5>
        
      </div>
      <div class="modal-body text-monospace">
        <p class="text_add"></p>
      <p class="text_add2"></p>
      <p class="text_apply2"></p>
      </div>

      <div class="modal-footer border-bottom-success">
        <button type="button" class="btn-sm btn-dark btn-rounded text-sm rounded-pill text-black text-monospace text-wrap" value="Refresh Page" onClick="location.href=location.href" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalApply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="exampleModalLabel">APPLY CHANGES</h5>
        
      </div>
      <div class="modal-body text-black text-center text-monospace">
          Enable newly added devices in MDM
        <p class="text_apply"></p>

        <p class="text_apply2"></p>
        

        
      </div>
      

      <div class="modal-footer border-bottom-primary">
        <button type="button" class="btn-sm btn-dark btn-rounded text-sm rounded-pill text-black text-monospace text-wrap" value="Refresh Page" onClick="location.href=location.href" data-dismiss="modal">Close</button>
        <button type="button" class="btn-sm btn-warning has-spinner btn-rounded text-sm rounded-pill text-black text-monospace text-wrap" value="Refresh Page"  id="apply_button">Apply Configuration</button>
        

      </div>
    </div>
  </div>
</div>



    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script type="text/javascript">
    $(function () {
      $("input[type='radio']").change(function () {
        $("button[type='button']").prop("disabled", false);
      });
    });
  </script>


<!-- <script>
  document.getElementById('testuji').onclick = function () {
    document.getElementById('add_button').disabled = false;
  } 
</script> -->




  <!-- Bootstrap core JavaScript-->
  <script src="static/DEP/Bootstrap4/vendor/jquery/jquery.min.js"></script>
  <script src="static/DEP/Bootstrap4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/DEP/Bootstrap4/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/DEP/Bootstrap4/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/DEP/Bootstrap4/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/DEP/Bootstrap4/js/demo/chart-area-demo.js"></script>
  <script src="static/DEP/Bootstrap4/js/demo/chart-pie-demo.js"></script>


  <script src="static/DEP/js/jquery.buttonLoader.js"></script>
<script>
  $(document).ready(function () {
      
      $('.has-spinner').click(function () {
          var btn = $(this);
          $(btn).buttonLoader('start');
          setTimeout(function () {
              $(btn).buttonLoader('stop');
          }, 6000);
      });
  });
  </script>

      {% csrf_token %}
  <!--    <div class="main">
         <div class="section-screen section-form wrap-input100">
            <p>Logged as {{ user.get_username }}</p>
            <form action="/logout" method="GET">
               <input type="submit" value="Logout" class="login100-form-btn">
            </form>
            <form action="/get_json" method="GET" id="get_json_form">
               <input type="submit" value="Get file" class="login100-form-btn">
            </form>
            <form action="/apply" method="POST" id="apply_form">
               <input type="submit" value="Apply configuration" class="login100-form-btn">
            </form>
            <div class="section-title">
               <h1>Add device</h1>
            </div>
            <div class="section-form">
               <form action="/add" method="POST" id="add_form">
                  <div class="control-group wrap-input100">
                     <input type="text" class="input200" value="" placeholder="Device ID" name="id" id="add_id">
		     <span class="focus-input100"></span>
                     <span class="symbol-input100"><i aria-hidden="true" class="fa fa-desktop"></i></span>
                  </div>
                  <input type="submit" value="Add" class="login100-form-btn">
               </form>
            </div>
            {% if user.is_superuser %}
            <div class="section-title">
               <h1>Remove device</h1>
            </div>
            <div class="section-form">
               <form action="/remove" method="POST" id='remove_form'>
                  <div class="control-group wrap-input100">
                     <input type="text" class="input200" value="" placeholder="Device ID" name="id" id="remove_id">
                     <span class="focus-input100"></span>
                     <span class="symbol-input100"><i aria-hidden="true" class="fa fa-desktop"></i></span>
		  </div>
                  <input type="submit" value="Remove" class="login200-form-btn">
               </form>
            </div>
            <div class="section-title">
               <h1>Other commands:</h1>
            </div>
            <div class="section-form">
               <form action="/modular" method="POST" class="modular_form" id='systemctl_status_micromdm_service'>
                  <input type="submit" value="systemctl" class="login100-form-btn">
               </form>
            </div>
            <div class="section-form">
               <form action="/modular" method="POST" class="modular_form" id='journalctl_micromdm_service'>
                  <input type="submit" value="journalctl" class="login300-form-btn">
               </form>
            </div>
            <div class="section-form">
               <form action="/modular" method="POST" class="modular_form" id='GET APPS'>
                  <input type="submit" value="getapps" class="login100-form-btn">
               </form>
            </div>
            {% endif %}
         </div>
      </div>
      -->
      <!--div id="modal_apply" class="modal">
         <p class="p_bold">Status:</p>
         <p class="modal_status_text"></p>
         <p class="p_bold">Output:</p>
         <p class="modal_output_text"></p>
         <p class="p_bold">Additional:</p>
         <p class="modal_additional_text"></p>
         <p class="graphic_result"></p>
      </div>
      <div id="modal_add_remove" class="modal">
         <p class="p_bold">Status:</p>
         <p class="modal_status_text"></p>
         <p class="p_bold">Output:</p>
         <p class="modal_output_text"></p>
         <p class="graphic_result"></p>
      </div>
      <div id="modal_json" class="modal">
         <p class="p_bold">JSON text:</p>
         <pre class="modal_json_text"></pre>
      </div>
      <div id="modal_other" class="modal">
         <pre class="modal_other_text"></pre>
      </div-->

      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; YourDomain. 2020<img style="width: 10rem;" src="static/DEP/Bootstrap4/img/ISLogohigh.png" alt=""></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
   </body>
</html>
{% endblock %}
